.product_body {
    min-height: 15em;
    position: relative;
    padding: 0;
}

.product_image {
    margin: 0 auto;
    width: 100%;
}

.created_time {
    font-weight: bold;
    text-align: right;
    margin: 1em 0 0;
}

.login_panel {
    margin-top: 5em;
}

.create_product {
    background-color: #eee;
    border-radius: 0.3em;
    padding: 2em;
    margin-bottom: 1em;
}

.sort_products {
    margin: 20px 0;
}

.money_symbol {
    padding-right: 1px;
}

.category_label, .condition_label {
    line-height: inherit;
}

.product_body .category_label {
    position: absolute;
    top: 1em;
    right: 1em;
}

.product_body .condition_label {
    position: absolute;
    top:1em;
    left: 1em;
}

.product_description {
    padding: 1em;
}